<h2><%= @task[:title] %></h2>

 <div class="form-check">
    <input type="checkbox" class="form-check-input" id="completed">
    <label class="form-check-label" for="completed">Completed</label>
  </div>

<p><%= @task[:details]  %> </p>
<p><%= @task[:id] %></p>


<div class="btn btn-primary btn-danger">
  <%= link_to "Edit the task", edit_path %>
</div>

<div class="btn btn-primary btn-dark">
 <%= link_to "Back to the list", tasks_path %>
</div>


